{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <table>
        <form class="form-inline" method="GET" action="{{url_for('search')}}" >
            <div class="form-group" style="margin-top: 40px;">
               <input type="text" class="form-control" name="query" id="query" onkeyup="myFunction()">
               <button type="submit" class="btn btn-primary">Search</button>
   
            </div>
        </form>
        <tr>
            <th>List</th>
            <!-- <th>Added</th>
            <th>Actions</th> -->
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <!-- <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td> -->
            </tr>
        {% endfor %}
    </table>
         
    <div class="form">  
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>

</div>
{% endblock %}